<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>flogger</title><link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel=stylesheet><style type=text/css>.topcorner-loader{
    padding: 1em;
    position:absolute;
    top:0;
    right:0;
  }

  .article img {
    width: 100% !important;
  }
  .article .layout{
    background-color: "#f9f9f9"
  }</style><link href=/static/css/app.782dd279842a24dab9b9946497effbc9.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script><script type=text/javascript src=/static/js/vendor.ce316682b3c703c1e33a.js></script><script type=text/javascript src=/static/js/app.e1742784774e0c1216c0.js></script></body></html>